.container{
    position: absolute;
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover;

    width: 100%;
    height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 100px;
    gap: 130px;
}

.content{
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 130px;
}

.content h1 {
    font-family: "Barlow Condensed";
    font-size: 28px;
    letter-spacing: 4.72px;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: 100;
}

.content h1 strong{
    font-weight: bold;
    opacity: 0.25;
}
.content section{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 80px;
    
}

.content section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 32px;
}

.content section ul li{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fff5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: "Bellefair";
    transition: .3s ease-in all;
    cursor: pointer;
}

.content ul li:hover{
    background-color: #fff;
    color: #333;
}


.content span{
    font-family: "Barlow Condensed";
    font-size: 16px;
    letter-spacing: 2.72px;
    color: #D0D6F9;
}

.content h2{
    margin-top: 15px;
    font-family: "Bellefair";
    font-size: 56px;
    font-weight: 100;
}

.content p {
    margin-top: 17px;
    font-family: 'Barlow Condensed';
    color: #D0D6F9;
    font-size: 18px;
    line-height: 32px;
}

.content section div {
    width: 470px;
    height: 303px;
}